---
import { z } from 'astro:content';
import * as hero from '~/mdx/hero.mdx';
import Section from '~/components/Shared/Section.astro';

const heroSchema = z.object({
	project: z.object({
		text: z.string(),
		icon: z.string(),
		link: z.string(),
	}),
	aboutMe: z.object({
		text: z.string(),
		icon: z.string(),
		link: z.string(),
	}),
});
heroSchema.parse(hero.frontmatter);

type Hero = z.infer<typeof heroSchema>;
const { Content, frontmatter } = hero;
const { project, aboutMe } = frontmatter as Hero;
---

<Section
	sectionClass="bg-ghost-white pb-20 pt-[60px] dark:bg-bg-section-black md:py-20 lg:py-[120px]"
	containerClass="flex flex-col gap-5 md:flex-row xl:justify-between"
>
	<div class="md:w-1/2 md:py-10 lg:py-[60px] lg:text-[1.2rem] xl:py-20">
		<div>
			<Content />
		</div>

		<div class="lg:mt-5 xl:mt-[30px] xl:flex xl:gap-[15px]">
			<a
				href={project.link}
				class="mt-[10px] flex h-14 w-[200px] items-center justify-center rounded-3xl bg-slate-blue px-6 py-3 text-center font-bold leading-none text-fg-white sm:w-[250px]"
			>
				<span>{project.text}</span>
				<span class="inline-block pl-1">{project.icon}</span>
			</a>

			<a
				href={aboutMe.link}
				class="mt-[10px] flex h-14 w-[200px] items-center justify-center rounded-3xl border-2 border-slate-blue px-6 py-3 text-center font-bold leading-none text-fg-black dark:text-fg-white sm:w-[250px]"
			>
				<span>{aboutMe.text}</span>
				<span class="inline-block pl-1">{aboutMe.icon}</span>
			</a>
		</div>
	</div>
</Section>
