---
import { Image } from 'astro:assets';
import { hamburgerBtnId, mobileMenuId, navLinks } from '~/constants';
import github from '~/assets/icons/github.svg';
---

<>
	<button
		id={hamburgerBtnId}
		class="m-auto block h-11 w-11"
		aria-expanded="false"
		aria-controls={mobileMenuId}
		aria-label="open navigation menu"
	>
		<span
			class="mx-auto my-[3px] block h-[1px] w-1/2 rounded-[5px] border border-fg-black bg-fg-black dark:border-fg-white dark:bg-fg-white"
		></span>
		<span
			class="mx-auto my-[3px] block h-[1px] w-1/2 rounded-[5px] border border-fg-black bg-fg-black dark:border-fg-white dark:bg-fg-white"
		></span>
		<span
			class="mx-auto my-[3px] block h-[1px] w-1/2 rounded-[5px] border border-fg-black bg-fg-black dark:border-fg-white dark:bg-fg-white"
		></span>
	</button>

	<div
		tabindex="-1"
		id={mobileMenuId}
		class="pointer-events-none fixed inset-0 z-[-1] justify-end overflow-hidden blur-0 md:hidden"
	>
		<ul
			class="flex h-full w-full translate-x-[100vw] list-none flex-col bg-ghost-white pt-[90px] text-center transition-transform dark:bg-bg-section-black sm:w-[320px] sm:text-left sm:shadow-[0_1px_3px] sm:shadow-[#4c4c4c]"
		>
			{
				navLinks.map((link) => (
					<li>
						<a
							href={link.href}
							class="block border-t border-[#4c4c4c] py-5 text-[1.1rem] font-bold sm:px-[54px] sm:text-[1.1rem]"
						>
							{link.text}
						</a>
					</li>
				))
			}

			<li class="border-t border-[#4c4c4c] py-5 md:hidden">
				<a
					target="_blank"
					rel="noreferrer"
					href="https://github.com/redasalmi"
					class="m-auto flex w-[70%] items-center justify-center rounded-3xl border-2 border-slate-blue px-1 py-3 text-[1.2rem] font-bold text-fg-black dark:text-fg-white sm:w-[80%] sm:text-base"
				>
					<span>Check out my github</span>
					<Image
						src={github}
						alt="reda salmi github account"
						class="ml-[10px] h-[25px] w-[25px]"
					/>
				</a>
			</li>
		</ul>
	</div>
</>
