---
import '@fontsource/poppins';
import Navbar from '~/components/Navbar/Navbar.astro';
import '~/assets/styles/tailwind.css';

type Props = {
	title: string;
	description: string;
	previewImage: {
		src: string;
		alt: string;
		width: string;
		height: string;
	};
};

const { title, description, previewImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>{title}</title>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@redsalmi" />
		<meta name="twitter:creator" content="@redsalmi" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={previewImage.src} />
		<meta name="twitter:image:alt" content={previewImage.alt} />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://redacodes.com" />
		<meta property="og:image" content={previewImage.src} />
		<meta property="og:image:alt" content={previewImage.alt} />
		<meta property="og:image:width" content={previewImage.width} />
		<meta property="og:image:height" content={previewImage.height} />

		<link rel="manifest" href="/manifest.webmanifest" />
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body id="top" tabindex="-1">
		<Navbar />
		<slot />
	</body>
</html>
